[submodule "packages/glm"]
	path = packages/glm
	url = ../../g-truc/glm.git
[submodule "packages/glew"]
	path = packages/glew
	url = ../../nigels-com/glew.git
[submodule "packages/glfw"]
	path = packages/glfw
	url = ../../glfw/glfw.git
[submodule "packages/assimp"]
	path = packages/assimp
	url = ../../assimp/assimp.git
