
[submodule "external/glfw"]
	path = external/glfw
	url = ../../glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = ../../g-truc/glm.git

[submodule "external/glew-cmake"]
	path = external/glew-cmake
	url = ../../Perlmint/glew-cmake.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
